* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-decoration: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #555;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}

/* Carousel CSS */
.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.carousel-item {
  min-width: 100%;
  height: 300px; /* Define a consistent height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Adapta a imagem ao espaço do carrossel */
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-controls label {
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

#carousel-1:checked ~ .carousel-images {
  transform: translateX(0);
}

#carousel-2:checked ~ .carousel-images {
  transform: translateX(-100%);
}

#carousel-3:checked ~ .carousel-images {
  transform: translateX(-200%);
}

/* Estilo adicional para controles ativos */
#carousel-1:checked ~ .carousel-controls label[for="carousel-1"],
#carousel-2:checked ~ .carousel-controls label[for="carousel-2"],
#carousel-3:checked ~ .carousel-controls label[for="carousel-3"] {
  background-color: #555;
}
