body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1e90ff, #00bfff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.form-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
button {
  background: #1e90ff;
  color: white;
  cursor: pointer;
}
button:hover {
  background: #104e8b;
}
.redirect-login a {
  color: #1e90ff;
  text-decoration: none;
}
.redirect-login a:hover {
  text-decoration: underline;
}
.mensagem-erro {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.mensagem-sucesso {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}